# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\deand\PycharmProjects\HTML & CSS\HTML stucture\02.HTML-Structure-Exercise-Resouces\L2_06_Tags-Cardio-Forms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
