.container {
    margin-top: 3em;
    margin-left: 3em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
}

.container span {
    border: 1px solid black;
    padding: 0.7em 3em;
    margin: 0.5em 0.25em 0.5em 0.25em;
}
.item12 {
    order: 0;
}
.item2 {
    order: 1;
}
.item1 {
    order: 9;
}
.item3 {
    order: 11;
}

.item7 {
    order: 12;
}
.item10 {
    order: 13;
}